<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quote Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Select your </h3>
  <ion-list>
    <button [navPush]="quotePage" [navParams]="quoteGroup" ion-item *ngFor="let quoteGroup of quoteCollection">
    <ion-icon [name]="quoteGroup.icon" item-left></ion-icon>
    <h2>{{ quoteGroup.category | uppercase}}</h2>
    <p *ngIf="quoteGroup.quotes.length > 0">{{quoteGroup.quotes.length}} Quote(s)</p>
  </button>
  </ion-list>
</ion-content>
